body
{
	background-color: #242424;
}

a
{
	text-decoration: none;
	color: #e2e2e2;
}
a:hover
{
	color: white;
}

table
{
	color: #999999;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: auto;
}
td
{
	padding: 10px 30px;
}
th
{
	padding: 30px;
}
