body
{
	background-color: #cccccc;
}

a
{
	text-decoration: none;
	color: #000000;
}
a:hover
{
	color: #aaaaaa;
}

table
{
	color: #aaaaaa;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: auto;
	padding-top: 15vh;
}
td
{
	padding: 10px 35px;
}
th
{
	padding: 30px;
}

p {
	color: #aaaaaa;
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 5px;
	margin: 0px;
}
